<!DOCTYPE html>
<html lang="en">
	<head>

         <link rel="stylesheet" type = "text/css" href= "/static/css/styles.css">
		<title>
			TO-DO APP
		</title>
	</head>
	<body>
		<div id="container">
		<h1>ToDO App</h1>

		<form id="todo_form" action="/add_todo" method="POST">

<input type='text' name='item' placeholder="ADD TODO"/>
      <button type="submit" class="btn">
                    Submit
                </button>


</form>

	</div>
	<div>
		<% for(var i = 0; i < todoList.length; i++) { %>
		<ul><li> <%= todoList[i].todos %> </li></ul>
	<% } %>
	</div>
	</body>
	<footer>
		
	</footer>
</html>